/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

#places-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.place-card, .review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.index-place-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#error-text{
    color: red;
}